.pricing-container {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}
.pricing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}
.muted {
  color: rgb(117, 126, 128);
}

.price-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.price-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  /* border: 2px solid red; */
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
}
.price-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.price-card h2 {
  color: rgb(61, 130, 233);
}

.gradient-button {
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  border: none;
  color: white;
}

.gradient-button:hover {
  background: linear-gradient(45deg, #ff6ec4, #7873f5);

  border: 1px solid blue;
  color: white;
}

.tick-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tick-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.tick-list li::before {
  content: "✅";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1;
  color: blue;
}

.pricing-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}
