.contact-container {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.contact-info {
  background-color: #0b3d66;
  color: white;
  padding: 30px;
  width: 40%;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 12px;
}

.contact-logos {
  display: flex;
  justify-content: space-around;
}

.contact-form {
  padding: 30px;
  width: 60%;
}

.contact-form h2 {
  margin-bottom: 10px;
}

.contact-form p {
  margin-bottom: 20px;
  color: #666;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.9;
}
.contact-logos li {
  cursor: pointer;
  transition: 0.5s ease;
}
.contact-logos li:hover {
  transform: scale(1.2);
}

/* small screen @media */
@media (max-width: 768px) {
  .contact-container {
    background-color: #8ba1b4;
    display: flex;
    flex-direction: column;
    width: 85vw;
  }

  /* content */
  .contact-info {
    display: flex;
    flex-direction: column;
    background-color: #0b3d66;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
    text-align: center;
  }
  .contact-logos {
    gap: 4rem;
  }

  /* form */
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .contact-form button {
    width: 100%;
  }
}
