.home {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  height: 90vh;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.left-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  min-height: 100%;
}
.right img {
  height: 25rem;
  width: 25rem;
}

.home-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}
.home-list li {
  list-style: none;
}

.blue-icon {
  color: rgb(61, 130, 233);
  padding: 0.5rem;
}
