* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;

  font-size: 12px;
}

h1 {
  color: #090d13;
}
h3 {
  color: #fd770a;
}
.main {
  max-width: 100vw;
  background-color: rgba(236, 231, 195, 0.05);
  padding: 4rem 2rem 0 2rem;
  overflow: hidden;
}
a {
  color: rgb(61, 130, 233);
}

/* @media (max-width: 768px) {
  .main {
    padding-top: 60px;
  }
} */
